.buttonsPlayerTwo, #dice {
  display: none;
}

.container {
  background-image: url(../img/felt.jpg);
  background-position: center 0px;
  background-repeat: no-repeat;
  background-color: #000;
  height: 700px;
  margin-top: 10%;
  border-radius: 15px;
}

body {
  background-color: #1F1C1C;
}
